# Ignore build directories
/application/target/
/api/target/
/target/

/out/
/application/out/
/api/out/

# IntelliJ IDEA specific
/.idea/
/application/.idea/
/api/.idea/
/*.iml
/application/*.iml
/api/*.iml

# Ignore logs
*.log
logs/
/application/logs/
/api/logs/

# Maven specific
.mvn/
/application/.mvn/
/api/.mvn/
!/.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-p
